<!DOCTYPE HTML>
<html>
<head>
<title>jQGrid PHP inline Editing Tutorial</title>

<link rel='stylesheet' href='css/jquery-ui-1.11.3.custom/jquery-ui.theme.css'/>
<link rel='stylesheet' href='css/ui.jqgrid.css'/>
<script src='js/jquery-1.11.0.min.js'></script>
<script src='js/i18n/grid.locale-en.js'></script>
<script src='js/jquery.jqGrid.min.js'></script>
<script src='js/index.js'></script>
</head>
<body>
    <div style="margin:0 auto;width: 80%">
	<table id="rowed2"></table> 
        <div id="prowed2" ></div>
    </div>
</body>
</html>